<ul class="fa-ul">
  <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 job Postings</strong></li>
  <li><span class="fa-li"><i class="fas fa-check"></i></span>Each post Lasts 10 days</li>
  <li><span class="fa-li"><i class="fas fa-check"></i></span>Upload company logos &amp; header images</li>
  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Collect Candidate Phone Numbers and Emails</li>
</ul>