<ul class="fa-ul">
  <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>20 job Postings</strong></li>
  <li><span class="fa-li"><i class="fas fa-check"></i></span>Each post Lasts 30 days</li>
  <li><span class="fa-li"><i class="fas fa-check"></i></span>Upload company logos &amp; header images</li>
  <li><span class="fa-li"><i class="fas fa-check"></i></span>Collect Candidate Phone Numbers and Emails</li>
</ul>