
<section class="jumbotron text-center">
    <div class="container">
      <h1>Hiring Done Right.</h1>
      <p class="lead text-muted">Find the Candidates that you need when you need them.</p>
      <%if !user_signed_in? %>
        <p>
          <%= link_to "Login", new_user_session_path, class: "btn btn-primary my-2" %>
          <%= link_to "Sign Up",new_user_registration_path, class: "btn btn-secondary my-2" %>
        </p>
      <% end %>
    </div>
  </section>
<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Basic</h5>
            <h6 class="card-price text-center">$10</h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>1 job Posting</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Each post Lasts 2 days</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Upload company logos & header images</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Collect Candidate Phone Numbers and Emails</li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Buy Now</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
            <h6 class="card-price text-center">$20</h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 job Postings</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Each post Lasts 10 days</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Upload company logos & header images</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Collect Candidate Phone Numbers and Emails</li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Buy Now</a>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
            <h6 class="card-price text-center">$30</h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>20 job Postings</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Each post Lasts 30 days</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Upload company logos & header images</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Collect Candidate Phone Numbers and Emails</li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section data-v-0e51b078="" class="py-10 bg-light" data-v-7930edba="">
<div data-v-0e51b078="" class="container">
<div data-v-0e51b078="" class="row justify-content-center">
<div data-v-0e51b078="" class="col-lg-8">
<div data-v-0e51b078="" class="text-center mb-10">
<h2 data-v-0e51b078="">Why we are right for your hiring needs.</h2>
<p data-v-0e51b078="" class="lead">We Strive to find you the best talent in the Industry to make your job easier.</p>
</div>
</div>
</div>
<div data-v-0e51b078="" class="row">
<div data-v-0e51b078="" class="col-lg-4 text-center mb-5">
<div data-v-0e51b078="" class="display-1 font-weight-bold text-secondary">1,000+</div>
<div data-v-0e51b078="" class="h5">Collected Resumes</div>
<p data-v-0e51b078=""></p></div>
<div data-v-0e51b078="" class="col-lg-4 text-center mb-5">
<div data-v-0e51b078="" class="display-1 font-weight-bold text-secondary">500+</div>
<div data-v-0e51b078="" class="h5">Monthly Job Seakers</div>
</div>
<div data-v-0e51b078="" class="col-lg-4 text-center mb-5">
<div data-v-0e51b078="" class="display-1 font-weight-bold text-secondary">100</div>
<div data-v-0e51b078="" class="h5">Average Daily job Post Views</div>
</div>
</div>
</div>
<span data-v-c5f3fcf8="" data-v-0e51b078="">
  <div data-v-c5f3fcf8="" class="svg-border-rounded text-white">
    <svg data-v-c5f3fcf8="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
      <path data-v-c5f3fcf8="" d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
    </svg>
  </div><!----><!---->
</span>
</section>

